html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img a {
    border: none;
}

html {
    height: 100%;
}

body {
    background-color: #F7F6F6;
    color: #003050;
    height: 95%;
}

body, p, h1, h2, h3 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1.coconotes  {
    display: block;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 120%;
    line-height: 2em;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.pageindex {
    font-size: 20px; padding-left: 25px; list-style: disc;
}

h2 {
    font-size: 20px; margin: 5px 0;
}

.column {
    float: left;
}

.column2 {
    width: 16%;
}

.column3 {
    width: 25%;
}

.column4 {
    width: 33%;
}

.column6 {
    width: 50%;
}

.column8 {
    width: 66%;
}

#content {
    height: 100%;
    position: relative;
}

.playercolumn {
    width: 75%;
    width: calc(75% - 16px);
    overflow:hidden;
    overflow-x: hidden !important;
}
.tabcolumn {
    width: 24%;
    width: calc(24% - 16px);
}
#tab {
    height: 100%;
    height: calc(100% - 24px);
    width: 96%;
    width: calc(100% - 16px);
    margin: 1px 1px;
    overflow-y: hidden;
}

#LdtPlayer {
    margin: 0px;
    background-color: #fff;
    /*min-height: 300px;*/
    height: 60%;
}

#tab_labels {
    max-height: 1.5em;
    overflow-y: auto;
}
#tab_content {
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
}

.ui-widget-header {
    background: #ddd;
}

.ui-tabs .ui-tabs-nav {
    padding: 1px !important;
    min-width: 210px;
}

.ui-tabs .ui-tabs-panel {
    padding: .5em .5em 2em .5em !important;
}

.ui-helper-reset {
    line-height: 1.0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 2px !important;
    font-size: small;
}

.Ldt-AnnotationsListWidget {
    max-height: 100% !important;
    overflow-y: hidden !important;
}

#tab-slides li .Ldt-AnnotationsList-ThumbContainer {
    width: 90%;
    height: 100%;
}

#tab-slides li.selected .Ldt-AnnotationsList-ThumbContainer {
    box-shadow: #444 0px 0px 6px
}

#AnnotationsListContainer, #SlideShareContainer {
    overflow-y: hidden;
}

#tab-slides h3.Ldt-AnnotationsList-Title {
    display: none;
}

#tab-slides p.Ldt-AnnotationsList-Description, #tab-slides .Ldt-AnnotationsList-Duration, #tab-slides .Ldt-AnnotationsList-Title {
    display: none;
}

#tab-slides li.Ldt-AnnotationsList-li {
    display: inline;
}

#tab-toc .Ldt-AnnotationsList-ThumbContainer, #tab-toc .Ldt-AnnotationsList-Description {
    display: none;
}

#tab-toc li.Ldt-AnnotationsList-li {
    min-height: 1em !important;
    max-height: 3em !important;
    overflow-y: hidden;
}

#tab-toc .Ldt-AnnotationsList-Title {
    margin: 2px;
    font-weight: normal;
    color: black;
    text-align: left;
}

#tab-notes .Ldt-AnnotationsList-ThumbContainer {
    display: none;
}

#tab-notes .Ldt-AnnotationsList-Description {
    text-align: left;
    margin: 2px 0 2px 1em;
}

#tab-notes .Ldt-AnnotationsList-Title {
    margin: 2px 2px 0px 2px;
    text-align: left;
}

#tab-notes .Ldt-AnnotationsList-Title a {
    color: black !important;
}

#tab-notes .Ldt-AnnotationsList-Duration {
    float: left;
}

#NotesHeader {
    font-size: small;
    text-align: left;
}

#tab-contributions .Ldt-AnnotationsList-Title {
    margin: 2px;
    text-align: left;
}

#tab-contributions .Ldt-AnnotationsList-Title a {
    color: black !important;
    font-weight: normal;
}

#tab-contributions .Ldt-AnnotationsList-Description {
    display: none;
    margin: 2px 38px 0px 2px;
    text-align: left;
}

#tab-contributions .Ldt-AnnotationsList-ThumbContainer {
    display: none;
}

#tab-contributions .Ldt-AnnotationsList-Duration {
}

#tab-publiccontributions .Ldt-AnnotationsList-Title,
#tab-livecontributions .Ldt-AnnotationsList-Title {
    margin: 2px;
    text-align: left;
}
#tab-publiccontributions .Ldt-AnnotationsList-Title a,
#tab-livecontributions .Ldt-AnnotationsList-Title a {
    color: black !important;
    font-weight: normal;
}

#tab-publiccontributions .Ldt-AnnotationsList-Description,
#tab-livecontributions .Ldt-AnnotationsList-Description {
    display: none;
    margin: 2px 38px 0px 2px;
    text-align: left;
}

#tab-publiccontributions .Ldt-AnnotationsList-ThumbContainer,
#tab-livecontributions .Ldt-AnnotationsList-ThumbContainer {
    display: none;
}

#tab-quizz .Ldt-AnnotationsList-Title{
	margin: 2px;
}

#tab-quizz .Ldt-AnnotationsList-ThumbContainer,
#tab-quizz .Ldt-AnnotationsList-Description {
   	display: none;
}

.tab_content_header {
    font-size: xx-small;
}

#AboutContainer {
    font-size: 12pt;
    text-align: left;
}
.about-summary {
    font-size: 10pt;
}
.Ldt-Annotation-Social {
    display: none;
}

header a {
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: top;
}
header a:visited {
    color: black;
}
header a:hover {
    color: #555;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 10;
    position: relative;
}

footer {
    position: fixed;
    bottom: 2px;
    left: 2px;
    background-color: #F7F6F6;
    opacity: .8;
    font-size: 12px;
}
footer img {
    height: 20px;
}

.hint {
    display: none;
}

.Ldt-Annotation-Creator {
    display: none;
}
.Ldt-Annotation-Label {
    display: none;
}

.Ldt-Annotation-Description {
    max-height: 250px !important;
}

#LdtPlayer_widget_SlideVideoPlayer_1 {
    height: 100%;
}

[widget-type=HtmlPlayer] {
    max-width: 600px;
    margin: auto;
}

.Ldt-CreateAnnotation-Inner h3 {
    margin: 0px;
}

.Ldt-Slice {
    margin: 0px;
}

.Ldt-Slice-Arrow {
    height: 0px;
}

.Ldt-CreateAnnotation-SubmitArea .Ldt-CreateAnnotation-Begin {
    display: inline !important;
    font-weight: bold;
}

.Ldt-CreateAnnotation-Description {
    height: 4.2em !important;
}

.Ldt-CreateAnnotation-Screen h3 {
    display: none;
}

.Ldt-CreateAnnotation-Controls {
    display: none;
}

.Ldt-AnnotationsList-End {
    display: none;
}

.rightside {
    display: inline;
    position: absolute;
    top: 0em;
    right: 5px;
    margin-right: 1em;
    padding-top: .5em;
    text-align: right;
    z-index: 10;
}

.menu ul {
  text-align: right;
  display: inline;
  margin: 0;
  padding: 4px;
  list-style: none;
}

.menu ul li {
  font: normal 90% sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 2px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.menu ul li:hover {
  color: #fff;
}
.menu ul li ul {
  padding: 0;
  position: absolute;
  top: 1.3em;
  right: 0;
  width: 120px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.menu ul li ul li {
  background: #ddd;
  display: block;
  color: #fff;
}
.menu ul li ul li:hover { background: #ccc; }
.menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


.popup_message {
    display: none;
}

#username, .license {
    display: inline;
    font-size: xx-small;
}
.username {
    display: inline-block;
}
#username {
    font-size: small;
}
.username input {
    text-align: right;
    background-color: #F7F6F6;
    border: none;
}
.username input:focus {
    border: 1px solid #555;
    background-color: #FFF;
}

.licenseicon {
    height: 24px;
}

.infobox {
    display: inline;
}

.infoicon {
    z-index: 999;
}

.infobox:hover .infocontent {
    display: block;
}

.infocontent {
    display: none;
    z-index: 998;
    position: fixed;
    top: 0px;
    bottom: 20%;
    left: 180px;
    right: 180px;
    background-color: #fff;
    opacity: .95;
    box-shadow: black 2px 2px 5px;
}

.infocontent div {
    margin: auto;
    padding-top: 20%;
    width: 50%;
}

div.hopscotch-bubble {
    z-index: 950 !important;
}

@media all and (max-height: 600px) {
    .licensetext {
        display: none;
    }
    .hint {
        display: inline;
    }
}

@media all and (max-width: 1200px) {
    .hint {
        display: inline;
    }
}

@media all and (max-width: 500px) {
    .licensetext, .rightside, footer {
        display: none;
    }
    h1 {
        font-size: 80%;
    }
    #LdtPlayer {
        height: 40%;
    }
}

.button_highlight::before {
  background: #111;
  background: rgba(0,0,0,.8);
  border-radius: .5em;
  bottom: 1.35em;
  color: #fff;
  display: block;
  bottom: 2.8em;
  padding: .3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  content: "Avez vous mieux à proposer ?";
}

.button_highlight::after {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0, 0, 0, .8) transparent;
  border-width: .4em .4em 0 .4em;
  top: -0.3em;
  content: "";
  display: block;
  left: 40em;
  position: absolute;
  z-index: 99;
}

.TouchSplitter.h-ts>div.splitter-bar {
    border-left: 1px solid rgba(200, 200, 200, .8);
    border-right: 1px solid rgba(200, 200, 200, .8);
}
.TouchSplitter.v-ts>div.splitter-bar {
    border-top: 1px solid rgba(200, 200, 200, .8);
    border-bottom: 1px solid rgba(200, 200, 200, .8);
}
#PlayerContainer{
    height: 100%;
}
