#QuizzEditContainer {
	display:none;
}

.Ldt-QuizzCreator-Ui {
	width: 100%;
	padding:10px;
}

.Ldt-QuizzCreator-Form {
	width: 100%;
}

.Ldt-QuizzCreator-Question-Type {

}

.Ldt-QuizzCreator-Questions-Block {
	width:100%;
}

.Ldt-QuizzCreator-Questions-Answer {
	margin-top:5px;
	border-top: 1px solid black;
}

.Ldt-QuizzCreator-Questions-Answer div {
	display:inline-block;
	height:100%;
	vertical-align:middle;
}

.Ldt-QuizzCreator-Questions-Answer-Correct {
	width: 30px;
}

.Ldt-QuizzCreator-Questions-Answer-Content {
	width: calc(100% - 80px);
}

.Ldt-QuizzCreator-Questions-Answer-Content input, .Ldt-QuizzCreator-Questions-Answer-Content textarea {
	width: calc(100% - 20px);
}

/*
.Ldt-QuizzCreator-Questions-Answer-Time, .Ldt-QuizzCreator-Questions-Answer-Delete{
	vertical-align: top !important;
	padding-top: 27px !important;
}
*/

.Ldt-QuizzCreator-Questions-Answer-Time input {
	width:60px;
}

.Ldt-QuizzCreator-Questions-Answer-Delete {
	width: 15px;
	height:15px;
}

.Ldt-QuizzCreator-Remove {
	width: 16px;
	height: 16px;
    	margin-left: 8px;
	cursor:pointer;
    	background: url(img/delete.png);
}
